.container-padre {
  margin-top: 150px;
  margin-bottom: 150px;
}

.container-cartas img {
  width: 110.046px;
  margin-left: 10px;
}

.container-padre h1 {
  margin-left: 10px;
}

.container-padre img {
  margin-left: 10px;
}

.title-proye h1 {
  margin: 10px;
}
.material-icons {
  color: #000;
  width: 30px;
}

.pruebita-1 p {
  text-align: center;
  color: black;
}

.container-1-c a {
  text-decoration: none;
  font-size: 19px;
}

.tarjeta {
  width: 669px;
  height: 422px;
  background-image: url("../assets/img/terrazol1img.webp");
  background-size: cover;
  position: relative;
  margin: 10px;
}

.tarjeta2 {
  background-image: url("../assets/img/terrazasdelparque2/13.webp");
  position: relative; /* Para que los elementos secundarios se posicionen con respecto a este elemento */
}

.tarjeta2::before {
  content: ""; /* Crea un elemento pseudo */
  position: absolute; /* Lo posiciona de forma absoluta con respecto al padre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro semi-transparente */
}

.tarjeta3 {
  background-image: url("../assets/img/Terrazas del parque 1/TP7.webp");
  position: relative; /* Para que los elementos secundarios se posicionen con respecto a este elemento */
}

.tarjeta3::before {
  content: ""; /* Crea un elemento pseudo */
  position: absolute; /* Lo posiciona de forma absoluta con respecto al padre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro semi-transparente */
}

.tarjeta4 {
  background-image: url("../assets/img/TerrazasPark.webp");
  position: relative; /* Para que los elementos secundarios se posicionen con respecto a este elemento */
}

.tarjeta4::before {
  content: ""; /* Crea un elemento pseudo */
  position: absolute; /* Lo posiciona de forma absoluta con respecto al padre */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* Color oscuro semi-transparente */
}

.esquina {
  position: absolute;
  width: auto;
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.esquina-superior-izquierda {
  top: 0;
  left: 0;
  margin: 30px;
}

.esquina-superior-derecha {
  top: 0;
  right: 0;
  margin: 30px;
  padding: 10px;
  font-size: 17px;
  width: 78px;
  height: 13px;
}

#gris {
  background-color: rgba(168, 168, 168, 0.76);
}

#blue {
  background-color: #335b74;
}

.container-1-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.esquina-inferior-derecha {
  bottom: 0;
  right: 0;
  margin-right: 20px;
  padding: 15px;
}

.container-padre h1 {
  max-width: 669px;
}

.container-padre img {
  max-width: 669px;
}

@media (max-width: 1315px) {
  .tarjeta {
    width: 480px;
  }
}

@media (max-width: 1000px) {
  .container-1-c {
    width: 100%;
    flex-wrap: wrap;
  }

  .tarjeta {
    width: 581px;
  }
}

@media (max-width: 750px) {
  .container-padre {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

@media (max-width: 610px) {
  .container-1-c {
    width: 100%;
    flex-wrap: wrap;
  }

  .tarjeta {
    width: 480px;
  }
}

@media (max-width: 490px) {
  .container-1-c {
    width: 100%;
  }

  .tarjeta {
    width: 370px;
  }

  .esquina {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .container-1-c {
    width: 100%;
  }

  .tarjeta {
    width: 300px;
  }

  .esquina {
    font-size: 12px;
  }
}
