.testimonios__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.testimonios__title {
  font-size: 3rem;
  font-weight: 700;
  margin-top: 20px;
}

.testimonios__header img {
  width: 250px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 30px;
}

.testimonios__body {
  width: 100%;
  height: auto;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonios__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 360px;
  width: 390px;
}

.testimonios__card__title h2 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 90%;
  padding: 10px;
}

.testimonios__card__body {
  display: flex;
  width: 390px;
}
.testimonios__card__body img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  margin-left: 40px;
}

.testimonios__card:nth-child(2) .testimonios__card__body {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: black;
  color: white;
  height: 90px;
}

@media (max-width: 750px) {
  .testimonios__container {
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) {
  .testimonios__card {
    align-items: center;
    width: 320px; /* Cambia el ancho a 100% para adaptarse a la pantalla estrecha */
  }

  .testimonios__card__title h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .testimonios__card__body img {
    margin-left: 0;
  }

  .testimonios__card__body {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: black;
    color: white;
    width: 320px;
    height: 90px;
  }
}
