.Detalles-proyectos {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.colunm-detalles-1 {
  width: 55%; /* Haz que ocupe el espacio restante en el contenedor */
  padding: 0px 25px 0px 0px; /* Agrega un poco de espacio entre los dos columnas */
}

.colunm-detalles-2 {
  width: 25%;
  position: sticky; /* Establece la posición pegajosa */
  top: 0; /* Fija el contenido en la parte superior del contenedor */
  height: 100%;
}

@media (max-width: 1024px) {
  .Detalles-proyectos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .colunm-detalles-1 {
    width: 70%;
    padding: 0px;
  }
  .colunm-detalles-2 {
    width: 70%;
  }
}

@media (max-width: 750px) {
  .Detalles-proyectos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .colunm-detalles-1 {
    width: 85%;
    padding: 0;
  }
  .colunm-detalles-2 {
    width: 85%;
  }
}
